
.cards-wrapper {
  width: 100%;
  margin: 20px auto;
}

.cards-wrapperp,
.cards-wrapper h1,
.cards-wrapper h2,
.cards-wrapper h3,
.cards-wrapper h4,
.cards-wrapper h5,
.cards-wrapper h6{
  margin: 0;
  padding: 0;
}

.cards > ul {
  @media (width < 860px) {
		overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;

	}
}

.cards > ul > li {
   @media (width < 860px) {
    /* flex: 0 0 auto;  */
    position: relative;
		width: 70.7vw !important;
    aspect-ratio: 276 / 240;
    height: auto !important;
    transition: transform 0.3s;
    pointer-events: auto; /* 允许事件穿透到容器 */

    /* -webkit-user-select: none; */
    user-select: none;
  }
}

.cover-style > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--gap);
	grid-template-columns: repeat(4, 1fr);

}

.cover-style > ul > li {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--background-color);
  position: relative;
}


.cards-card-body > p, .cards-card-body > h6{
 --font-size-small: 20px; /* 390时的 */
  --font-size-normal-mobile: 47px; /* 860时的手机 */
  --font-size-normal: 24px; /* 860时的 */
  --font-size-large: 24px; /* 1180时的 */

  font-size: clamp(
          var(--font-size-normal),
          calc(
                  var(--font-size-normal) +
                  (100vw - var(--breakpoint-normal))
                  * (var(--font-size-large) - var(--font-size-normal))
                  / (var(--breakpoint-large) - var(--breakpoint-normal))
          ),
          var(--font-size-large)
  );

  @media (width < 860px) {
    font-size: clamp(
            var(--font-size-small),
            calc(
                    var(--font-size-small) +
                    (100vw - var(--breakpoint-small))
                    * (var(--font-size-normal-mobile) - var(--font-size-small))
                    / (var(--breakpoint-normal) - var(--breakpoint-small))
            ),
            var(--font-size-normal-mobile)
    );
  }
}

.cover-style .cards-card-body {
  position: absolute;
  top: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-family:'Hisense Sans Alfabet', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  z-index: 1;
}

.touch-start img {
   transform: scale(1.1);
}

.touch-end img {
   transform: scale(1);
}

.cover-style .cards-card-image {
  line-height: 0;
}

.cover-style > ul > li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);
}

.cover-style .cards-card-cta{
  display: none;

}

.center-style > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
	grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.center-style > ul > li {
  background: linear-gradient(135deg, #EEF9F9, #F5FCFC); 
  position: relative;
  border-radius: var(--border-radius-l);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-block: 36px;
	height: 300px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
	gap: 30px;
}

.center-style .cards-card-body{
  width: 100%;
  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  font-family:'Hisense Sans Alfabet', sans-serif;

}



.center-style p {
  margin: 0;
}

.center-style > ul > li .cards-card-image {
  width: 174px;
  object-fit: contain;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);
  
  @media (width < 860px) {
    width: 67%;
  }
}

.center-style > ul > li img {
  width: 100%;
}

.center-style > ul > li:hover img {
  @media (width >= 860px) {
    transform: scale(1.1) translateY(-5px);
  }
}

.center-style > ul > li .cards-card-cta a.button:any-link,
.center-style button{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Hisense Sans Alfabet', sans-serif;
    font-size: 12px;
    width: 128px;
    color: #fff !important;
    background-color: #00AAA6 !important;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;

    /* -webkit-transform: translateX(-50%); */
    transform: translateX(-50%);
    
    /* -webkit-transition: bottom cubic-bezier(0.35, 0, 0.36, 1) .5s, opacity linear .5s, visibility linear .5s; */
    transition: bottom cubic-bezier(0.35, 0, 0.36, 1) .5s, opacity linear .5s, visibility linear .5s;
}

.center-style > ul > li:hover .cards-card-cta a.button:any-link,
.center-style button{
  @media (width >= 860px) {
    opacity: 1;
    visibility: visible;
    bottom: 16px;
  }
}

.cover-style > ul > li:hover img {
  @media (width >= 860px) {
    transform: scale(1.1);
  }
}
