.parallax {
  position: relative;
  overflow: hidden;
  text-align: center;

  .scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .sticky-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: sticky;
  }

  .scroll-image-container img {
    width: auto;
    object-fit: cover;
    height: auto;
    object-position: center;
  }

  .scroll-text-container {
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 10;
    pointer-events: none;
    padding: 24px 0;

    @media (width >= 860px) {
      padding: 40px 0;
    }

    &.animate {
      position: absolute;
      top: 0;
      justify-content: center;
      height: 80vh;
    }
  }
}

.parallax-container p {
  margin: 0;
}
