main > .section:first-of-type {
  margin: 0;
  background: transparent !important;
}

.carousel-wrapper,
.carousel-items-container {
  width: 100vw;
  aspect-ratio: 1440/860;
  max-width: unset !important;
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

.carousel {
  position: relative;

  .carousel-items-container {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .carousel-items::-webkit-scrollbar {
    display: none;
  }
}

.carousel .carousel-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  &.light {
    color: black;
  }

  .carousel-item-image {
    width: 100%;
    height: 100%;

    picture {
      inset: 0;
      height: 100%;
    }

    picture > img {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    p:nth-child(2) {
      display: none;
    }
  }

  .carousel-content {
    position: absolute;
    height: clamp(250px, 25vw, 319px);
    top: 50%;
    left: calc(50% - min(var(--container-max-width), 86vw) / 2);
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .carousel-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .teal-text {
    color: var(--color-hisense-teal);
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
    font-size: 20px;
    margin-top: 0 ;
  }

  .carousel-item-content h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: clamp(30px, 2.77vw, 46px);
  }

  .carousel-item-content.icon-svg {
    max-height: 237px;

    picture {
      inset: 0;
      height: 100%;
    }

    picture > img {
      display: block;
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .carousel-cta-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  .carousel-item-cta {
    display: inline-block;

    .button-container {
      font-size: var(--body-font-size-l);
      font-weight: 500;
      text-align: center;
      margin: 0 auto;

      .button {
        width: auto;
        display: block;
        padding: 4px 32px;
        line-height: 42px;
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--color-hisense-black);
        color: var(--color-hisense-black);
        margin: 0;
      }

      .button.hisense-green {
        background-color: var(--color-hisense-teal) !important;
        border-color: var(--color-hisense-teal) !important;
        color: #fff !important;
      }

      .button.hisense-black {
        background-color: var(--color-hisense-black);
        border-color: var(--color-hisense-black);
        color: #fff;
      }

      .button:hover {
        background-color: var(--color-hisense-grey-01);
        border-color: var(--color-hisense-grey-02);
        color: white;
      }

      .button.hisense-green:hover {
        background-color: var(--color-hisense-green-01) !important;
        border-color: var(--color-hisense-green-01) !important;
        color: #fff !important;
      }

      .button.hisense-black:hover {
        background-color: var(--color-hisense-grey-01);
        border-color: var(--color-hisense-grey-01);
        color: #fff;
      }
    }
  }

  &.dark {
    color: white;

    .carousel-item-content,
    .carousel-item-cta {
      color: var(--background-light);
    }

    .button-container {
      .button {
        color: var(--background-light);
        border-color: var(--background-light);

        &:hover {
          background-color: white;
          border-color: white;
          color: black;
        }
      }
    }
  }
}

.carousel .carousel-item-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  list-style: none;

  button {
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: var(--color-hisense-grey-02);
    opacity: 0.42;
    transition: background-color 0.2s;

    &:disabled {
      opacity: 1;
      background-color: var(--color-hisense-grey-02);
      width: 68px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.carousel.dark .carousel-item-indicators {
  button {
    background-color: var(--background-light);

    &:disabled {
      background-color: var(--background-light);
    }
  }
}

.carousel .carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel .carousel-navigation-buttons button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: rgb(255 255 255 / 30%);
  transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button:hover,
.carousel .carousel-navigation-buttons button:focus-visible {
  background-color: rgb(255 255 255 / 60%);
}

.carousel .carousel-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel .carousel-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}


.carousel.only-picture {
  .carousel-items-container {
    max-height: 640px !important;

    .carousel-item {
      .carousel-content {
        height: auto;
        left: calc(50% - min(var(--container-max-width), 100vw) / 2);
      }

      .carousel-item-image {
        picture > img {
          object-position: center center;
        }
      }

      .carousel-item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        p {
          margin: 0;
          font-size: 30px;
          font-weight: 300;
          line-height: 1.4;
        }
      }

      .carousel-item-cta {
        display: none;
      }
    }
  }
}

@media (width < 860px) {
  .carousel  .carousel-items-container {
    overflow: scroll;
    aspect-ratio: 390/640;
    max-height: 100dvh;

    &::-webkit-scrollbar{
      display:none
    }

    picture > img {
      object-position: center 30% !important;
    }

    .carousel-item {
      .carousel-content {
        width: 100%;
        top: auto;
        transform: none;
        font-weight: 500;
        bottom: clamp(36px,13.33vw, 50px);
        height: clamp(250px, 64vw, 220px);
        left: calc(50% - min(var(--container-max-width), 100vw) / 2);

        .carousel-cta-container {
          gap: 16px;
        }

        h1 {
          font-size: clamp(32px, 4.5vw, 48px);
        }

        .button {
          font-size: var(--content-fontsize1);

          /* font-size: clamp(1.1rem, calc(1.8rem - 1vw), 1.6rem); */
          font-weight: 500;
          box-sizing: border-box;
          line-height: 32px;
          text-align: center;
          padding: 4px 20px;
        }
      }

      .carousel-item-image {
        height: 640px;

        p:nth-child(1) {
          display: none;
        }
        
        p:nth-child(2) {
          display: block;
        }
      }
    }

    .carousel-item-content.icon-svg {
      max-height: 178px;
    }
  }

  .carousel.only-picture .carousel-items-container{
    max-height: 560px !important;

    .carousel-content {
      height: 207px;
      line-height: 1.2;
      bottom: 0;
      padding: 42px 24px;
      font-size: 34px;

      .carousel-item-content {
        gap: 0;
      }
    }
  }

  .carousel .carousel-item-indicators {
    height: 9.23vw;

    button {
      &:disabled {
        width: 51px;
      }
    }
  }

  .carousel .carousel-navigation-buttons {
    display: none !important;
  }
}

@media (width >= 860px) {
  .carousel-wrapper,
  .carousel-items-container.full-screen {
    max-height: 100dvh;
    max-width: 2560px !important;
  }
}