.icon-component-container {
  overflow: hidden;
}

.icon-component {
  position: relative;

  p:nth-child(1) {
    margin: 0;
    font-weight: 500;
  }
}

.icon-component > div:nth-child(1) {
  color: var(--color-hisense-teal);
  font-size: var(--body-font-size-xl);
  line-height: 1;
  font-weight: 400;
}

.icon-component > div:nth-child(2) {
  font-size: var(--heading-font-size-m);
  font-weight: 500;
  line-height: 1;

  p {
    margin-top: 10px;
  }
}

.icon-viewport {
  width: 100%;
  margin: 32px 0 0;

  &::-webkit-scrollbar{
    display:none
  }
}

.icon-viewport ul{
  display: flex;
  gap: var(--gap);
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.icon-viewport ul>li {
  box-sizing: border-box;
  list-style: none;
  border: 1px solid #8f8f8f;
  width: 210px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 20px;
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;

    .item-picture {
      height: auto;
    }
  }

  .item-cta{
    display: none;
  }
}

.text-left {
  .icon-viewport ul>li {
    border: none;
    height: 220px;
    width: 214px;
    background-color: var(--color-hisense-grey-04);
    padding: 16px 24px 24px;
    box-sizing: content-box;
    cursor: auto;

    .item {
      display: flex;
      padding: 0;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      height: 164px;
      text-align: left;

      .item-picture {
        width: 70px;
        height: 70px;
      }

      picture, img {
        display: block;
        width: 100%;
        height: 100%;
      }

      .item-text {
        flex: 1;
        text-align: start;

        p:nth-child(2) {
          font-size: 14px;
          line-height: 1.4;
          margin: 0;
          padding: 0;
        }
      }
    }

    .item-cta.show {
      display: block;
      width: fit-content;

      a {
        display: block;
        padding: 0 16px;
        line-height: 30px;
        margin: 0;
        border: none;
        color: #fff;
        background-color: var(--color-hisense-teal);
        font-size: var(--body-font-size-s);
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 100px;
      }

      a:hover {
        background-color: var(--color-hisense-green-01);
        color: white;
      }
    }

    p {
      text-align: left;
    }

  }
}

.pagination {
  position: absolute;
  top: 34px;
  right: 0;
  display: none;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;

  button {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-hisense-teal);
    color: var(--color-hisense-teal);
    background-color: white;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    transition: background-color 0.2s;

    &::after {
      display: block;
      content: '';
      border: 2px solid;
      border-bottom: 0;
      border-left: 0;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 50%;
      left: calc(50% + 2px);
      transform: translate(-50%, -50%) rotate(-135deg);
    }

    &.slide-next::after {
      transform: translate(-50%, -50%) rotate(45deg);
      left: calc(50% - 2px);
    }

    &:disabled {
      border-color: var(--color-hisense-grey-02);
      color: var(--color-hisense-grey-02);
    }
  }
}

.pagination.show {
  display: flex;
}

.dark .pagination button {
  &:disabled {
    border-color: var(--color-hisense-grey-03);
  }
}

@media (width < 860px) {
  .pagination.show {
    display: none;
  }

  .icon-viewport {
    margin-top: 18px;
    overflow: visible;

    ul>li {
      width: 252px;
      height: 180px;
      box-sizing: content-box;
      padding: 30px 0;

      .item {
        padding: 0;
        gap: 24px;

        .item-text {
          font-size: 20px;
        }
      }
    }

    .icon-track {
      gap: 16px;
      margin: 0 -24px;
      padding: 0 24px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-snap-type: x mandatory; /* 强制水平吸附 */
      scroll-behavior: smooth;
    }
  }

  .text-left {
    .icon-viewport ul > li {
      width: 240px;
      height: 240px;
      padding: 16px 20px 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      box-sizing: border-box;
      
      .item {
        height: 141px;

        .item-text {
          font-size: 14px;

          p:nth-child(2) {
            font-size: 12px;
          }
        }

        .item-picture {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}
